
.idea/
node_modules/
.pynb_checkpoints
*.iml
.vscode/
.DS_Store
__pycache__/
yarn.lock
yarn-error.log
*.lock
package-lock.json
.pytest_cache
cmake-build-debug

**/XR/Settings/*
**/Resources/*


.DS_Store?
.Trashes
Logs/
Thumbs.db
/*.csproj
obj/
.Spotlight-V100
*.app
*.svd
1/
.vs/
Temp/
*.apk
._*
*.pidb
*_DoNotShip
*.suo
*.user
*.unityproj
*.exe
ExportedObj/
*.booproj
.vsconfig
*.unitypackage
Library/
*.userprefs
ehthumbs.db
/*.sln


*.csproj
*.sln